[submodule "external/libsimdpp"]
	path = external/libsimdpp
	url = https://github.com/cxxszz/libsimdpp.git
[submodule "external/meta"]
	path = external/meta
	url = https://github.com/cxxszz/meta.git
[submodule "external/cpp-sort"]
	path = external/cpp-sort
	url = https://github.com/cxxszz/cpp-sort.git
[submodule "external/TCLAP"]
	path = external/TCLAP
	url = https://github.com/cxxszz/tclap.git
[submodule "external/BCFW-Bundle"]
	path = external/BCFW-Bundle
	url = https://github.com/cxxszz/BCFW-Bundle.git
[submodule "external/DD_ILP"]
	path = external/DD_ILP
	url = https://github.com/cxxszz/DD_ILP.git
[submodule "external/ConicBundle"]
	path = external/ConicBundle
	url = https://github.com/cxxszz/ConicBundle.git
